# Temperature api

## Get weather data

In [3]:
import requests
import math

In [4]:
def get_data_by_api(latitude, logitude, time, unix_time):
    temp = 'none'
    feels_like = 'none'
    temp_min = 'none'
    temp_max = 'none'

    pressure = 'none'
    humidity = 'none'

    wind_speed = 'none'
    wind_degree = 'none'

    clouds = 'none'

    weather = 'none'
    weather_description = 'none'

    lat = str(latitude)
    lon = str(logitude)

    if(math.isnan(unix_time)):
        return temp, feels_like, temp_min, temp_max, pressure, humidity, wind_speed, wind_degree, clouds, weather, weather_description

    start = str(int(unix_time)) # IN unix time, UTC time zone
    api_key = "f9b1e9c2f5e6e96c7d776787ffbc004e" # use your api key
    url = "http://history.openweathermap.org/data/2.5/history/city?lat="+lat+"&lon="+lon+"&type=hour&start="+start+"&appid="+api_key

    # sending get request and saving the response as response object
    r = requests.get(url = url)
    if r.status_code is 200:
        data = r.json()
        #print(data)
        all_data = data['list'] #inside list we have the 24hours weather result. (array lenght of 24)
        #print(len(all_data))
        i = 0 #taking 1st data as having 24h
        temp = all_data[i]['main']['temp']
        feels_like = all_data[i]['main']['feels_like']
        temp_min = all_data[i]['main']['temp_min']
        temp_max = all_data[i]['main']['temp_max']

        pressure = all_data[i]['main']['pressure']
        humidity = all_data[i]['main']['humidity']

        wind_speed = all_data[i]['wind']['speed']
        wind_degree = all_data[i]['wind']['deg']

        clouds = all_data[i]['clouds']['all']

        weather = all_data[i]['weather'][0]["main"]
        weather_description = all_data[i]['weather'][0]["description"]
        
    return temp, feels_like, temp_min, temp_max, pressure, humidity, wind_speed, wind_degree, clouds, weather, weather_description

# Mount google drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Import

In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from IPython.display import display
from google.colab import data_table

In [10]:
input_path = 'your_path.csv'
df = pd.read_csv(input_path)
df.head()

,Full Name,Age Group,age,gender,Profession Group,profession,religion,hometown,Latitude,Longitude,Reason,reason of suicide if mention,Time,Actual time,method,collect source,Temperature,Weather,suicide date,Unix Timestamp
0,Hridoy Chandra Das,Teen,21.0,male,Service holder,police,hindu,barisal,22.701002,90.353455,NaN,NaN,Noon,Noon,gunshots,https://www.dhakatribune.com/bangladesh/nation...,27.0,Foggy,06/03/2020,1.583453e+09
1,NaN,Teen,15.0,female,NaN,NaN,muslim,rajshahi,24.363588,88.624138,Rape,rape,Night,Night,poison,https://www.thedailystar.net/country/student-d...,25.0,Foggy,06/02/2020,1.580947e+09
2,Zahidul Islam,Middle-aged,36.0,male,NaN,NaN,muslim,"Ramchandrapur, Dhaka",26.675200,85.166800,Mental issue,tramatic stress,Evening,Evening,hanging,https://www.researchgate.net/publication/34038...,29.0,Normal,25/03/2020,1.585094e+09
3,Gomes,Middle-aged,33.0,male,Service holder,private firm,christian,Gazipur,24.095818,90.412521,Mental issue,depressed,Night,Night,hanging,https://www.ucanews.com/news/surge-in-suicides...,28.0,Normal,24/03/2020,1.585008e+09
4,fatema khatun,Teen,22.0,female,Housewife,housewife,muslim,natore,24.410242,89.007622,Domestic violence,domestic violence,NaN,NaN,hanging,https://bit.ly/2JGpTp2,22.0,Foggy,22/2/2020,1.582330e+09

In [11]:
# data has
full_name = []
age_group = []
age = []
gender = []
profession_group = []
religion = []
hometown = []
latitude = []
logitude = []
reason = []
reason_description = []
time = []
method = []
data_source = []
suicide_date = []
unix_time = []

# get by api call 

temperature = []
feels_like = []
temp_min = []
temp_max = []
air_pressure = []
air_humidity = []
wind_speed = []
wind_deg = []
clouds_sky = []
weather_main = []
weather_description = []

In [ ]:
df_len = len(df)

for i in range(0, df_len):
    full_name_get = df['Full Name'][i]
    age_group_get = df['Age Group'][i]
    age_get = df['age'][i]
    gender_get = df['gender'][i]
    profession_group_get = df['Profession Group'][i]
    religion_get = df['religion'][i]
    hometown_get = df['hometown'][i]
    latitude_get = df['Latitude'][i]
    logitude_get = df['Longitude'][i]
    reason_get = df['Reason'][i]
    reason_description_get = df['reason of suicide if mention'][i]
    time_get = df['Time'][i]
    method_get = df['method'][i]
    data_source_get = df['collect source'][i]
    suicide_date_get = df['suicide date'][i]
    unix_time_get = df['Unix Timestamp'][i]
    
    temperature_get, feels_like_get, temp_min_get, temp_max_get, air_pressure_get, air_humidity_get, wind_speed_get, wind_deg_get, clouds_sky_get, weather_main_get, weather_description_get = get_data_by_api(latitude_get, logitude_get, time_get, unix_time_get)

    if(temperature_get is not 'none'):
        # data has
        full_name.append(full_name_get)
        age_group.append(age_group_get)
        age.append(age_get)
        gender.append(gender_get)
        profession_group.append(profession_group_get)
        religion.append(religion_get)
        hometown.append(hometown_get)
        latitude.append(latitude_get)
        logitude.append(logitude_get)
        reason.append(reason_get)
        reason_description.append(reason_description_get)
        time.append(time_get)
        method.append(method_get)
        data_source.append(data_source_get)
        suicide_date.append(suicide_date_get)
        unix_time.append(unix_time_get)

        # get by api call 
        temperature.append(temperature_get)
        feels_like.append(feels_like_get)
        temp_min.append(temp_min_get)
        temp_max.append(temp_max_get)
        air_pressure.append(air_pressure_get)
        air_humidity.append(air_humidity_get)
        wind_speed.append(wind_speed_get)
        wind_deg.append(wind_deg_get)
        clouds_sky.append(clouds_sky_get)
        weather_main.append(weather_main_get)
        weather_description.append(weather_description_get)
print("complete data collection form api")

## Save data to new csv

In [ ]:
# dictionary of lists  
data_dist = {   'full_name' : full_name,
                'age_group' : age_group,
                'age' : age,
                'gender' : gender,
                'profession_group' : profession_group,
                'religion' : religion,
                'hometown' : hometown,
                'latitude' : latitude,
                'logitude' : logitude,
                'reason' : reason,
                'reason_description' : reason_description,
                'time' : time,
                'method' : method,
                'data_source' : data_source,
                'suicide_date' : suicide_date,
                'unix_time' : unix_time,
                'temperature' : temperature,
                'feels_like' : feels_like,
                'temp_min' : temp_min,
                'temp_max' : temp_max,
                'air_pressure' : air_pressure,
                'air_humidity' : air_humidity,
                'wind_speed' : wind_speed,
                'wind_deg' : wind_deg,
                'clouds_sky' : clouds_sky,
                'weather_main' : weather_main,
                'weather_description' : weather_description
            }
       
new_df = pd.DataFrame(data_dist) 

new_df.head()
    
# saving the dataframe 
new_df.to_csv('new_data.csv') # add you own path